@use "../abstracts/variables" as *;

.btn {
    padding: .6rem 1rem;
    border-radius: $radius-sm;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 600;
}

.btn--primary {
    background: $primary;
    color: white;
}

.btn--outline {
    background: transparent;
    border-color: $primary;
    color: $primary;
}